.panel-custom {
  border: 1px solid black;
  border-radius: 1%;
}

.panel-custom .panel-heading {
  background-color: orange;
  border-radius: 1%;
}

.panel-custom .panel-body {
  border-top: 2px solid black;
}